*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none
}

body {
    background-color: rgb(241, 236, 211);
}

.contenedor {
    border: 5px solid rgb(21, 21, 102);
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.caja {
    background-color: aquamarine;
    margin: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(21, 21, 102);
    font-size: 18px;
    border: 2px solid rgb(21, 21, 102);
}

